@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

.sign-in {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: large;
  position: absolute;
  left: 92%;
  top: 34.5%;
  animation: 2s slide-top;
}
/* Modified for image.html file */
#sign-in {
  top: 5.5%;
}
/* Modified for image.html file end*/
a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: rgb(95, 95, 95);
}

a.emerald-a:visited {
  color: rgb(158, 0, 164);
}

/* user icon */
/* postition absolute and left 87% to be anchored in place when page is zoomed or shrinked */
.avatar-upload {
  position: absolute;
  top: 25%;
  left: 87%;
}

/* Modified for image.html file */
#avatar-forimagehtml {
  position: absolute;
  top: 4%;
  left: 87%;
}

.avatar-upload .avatar-preview {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 6px solid #f8f8f8; */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  background-image: url(../Files/grey_user.jpg);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes slide-top {
  0% {
    transform: translateY(-900%) scaleX(0.2);
    /* height: 60px; */
  }
}

@media (max-width: 800px) {
  .avatar-upload {
    position: fixed;
    top: 2%;
    left: 70%;
  }
  .sign-in {
    position: fixed;
    left: 84%;
    top: 4%;
  }
}
