doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
  link(rel='stylesheet' href='image.css')
  link(rel='stylesheet' href='button.css')
  link(rel='stylesheet' href='user-icon.css')
  link(rel='stylesheet' href='updateStatus.css')
span#sign-in.sign-in Hi User
#avatar-forimagehtml.avatar-upload
  .avatar-preview
    #imagePreview
.container
  .smaller-container
  h3.back Back to home page
  h1.complete-profile
    | Please complete your profile
    small by uploading an image of yourself.
  form#pic-form(name='pic-form' action='/upload' method='POST' enctype='multipart/form-data')
    .avatar-upload1
      .avatar-edit1
        input#imageUpload(type='file' name='file' accept='.png, .jpg, .jpeg')
        label(for='imageUpload')
      .avatar-preview1
        #imagePreview1(style='background-image: url(https://i.imgur.com/Cd4b5Gz.png);')
        button#image-Submit.btn.btn-white.btn-animate(name='submitImage' type='submit' value='Upload')
          | Submit
    a(type='button' href='../logout') Logout
script(src='image.js')
script(src='main.js')
