@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
* {
  box-sizing: border-box;
}

.container {
  display: none;
}

.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

/* mobile starts */

@media (max-width: 800px) {
  .nav {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .logo-mobile img {
    position: absolute;
    top: 15px;
    left: 70px;
    height: 37px;
    width: auto;
  }

  .container {
    z-index: 998;
    position: relative;
    background-color: #01d994;
    overflow: hidden;
  }

  /* Toggle Functionality */
  #toggle {
    display: none;
  }

  #toggle:checked ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1),
      inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }

  /* x-es */
  #toggle:checked ~ .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }

  #toggle:checked ~ .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  /* x-es end*/

  #toggle:checked ~ .nav-mob {
    margin-bottom: 100px;
    pointer-events: auto;
    transform: translate(50px, 50px);
  }

  #toggle:checked ~ .nav-mob .nav-item-mob {
    color: #fff;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.5s, opacity 0.1s;
  }

  /* + start */
  #toggle:not(:checked) ~ .toggle-container .button-toggle:before {
    transform: translateY(0%) rotate(0deg) scale(1);
  }

  #toggle:not(:checked) ~ .toggle-container .button-toggle:after {
    transform: translateX(0%) rotate(90deg) scale(1);
  }
  /* + end */

  #toggle:checked ~ .nav-mob .nav-item-mob:before {
    opacity: 0;
  }

  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s;
  }

  .button-toggle:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1),
      inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .button-toggle:before,
  .button-toggle:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
  }
  /* 
  .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  .button-toggle:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  } */

  /* Menu */
  .nav-mob {
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: 0.5s;
  }

  .nav-item-mob {
    position: relative;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.5s, opacity 1s;
  }
}
